*{
    margin: 0;
    padding: 0;
}

.main{
    background-color: aquamarine;
    height: 700px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.rows{
    height: 200px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inner-box{
    background-color: white;
    width: 190px;
    height: 200px;
    display: grid;
    place-items: center;
}

.inner-box h1{
    font-size: 100px;
}