* {
    margin: 0;
    padding: 0;
}

:root {
    --color: white;
}

.main {
    background-color: aquamarine;
    height: 690px;
    width: 690px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.rows {
    height: 200px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inner-box {
    background-color: white;
    width: 190px;
    height: 205px;
    display: grid;
    place-items: center;
}

.inner-box h1 {
    font-size: 100px;
}

.display {
    margin-top: 20px;
    border: 5px solid rgb(197, 97, 97);
    border-style: double;
    height: 80px;
    width: 690px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: black;
}

.btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    border: none;
    height: auto;
    width: 690px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: black;

}

#start-btn {
    border: none;
    width: 120px;
    height: 60px;
    background-color: rgb(252, 93, 64);
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    color: var(--color);
    cursor: pointer;
}

#start-btn:hover {
    background-color: rgb(214, 64, 37);
}

#reset-btn {
    border: none;
    width: 120px;
    height: 60px;
    background-color: rgb(64, 108, 252);
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    color: var(--color);
    cursor: pointer;

}

#reset-btn:hover {
    background-color: rgb(27, 59, 165)
}